<div class="container">
  <div class="contents pt-5">
    <h2>Hi Doodle Blue</h2>
    <h3>Sign in Here</h3>
    <form #loginForm="ngForm">
        <div class="form-group">
          <label>User Name</label>
          <input type="text" class="form-control" placeholder="Enter username" name="username" [(ngModel)]="userData.username" required>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="userData.password">
        </div>
        <div class="row">
          <div class="col-xs-6">
              <button type="submit" class="btn btn-primary" (click)="signin(loginForm)">Submit</button>
          </div>
          <div class="col-xs-6">
              <a routerLink="/register" class="btn btn-link">Register Instead</a>
          </div>
        </div>
      </form>
  </div>
</div>